<form #addressForm="ngForm" (ngSubmit)="submitForm(addressForm)">
  <label for="name">
    Name:
    <input type="text" ngModel="{{ formData.name }}" name="name" required />
  </label>
  <label for="address">
    Address:
    <input
      type="text"
      ngModel="{{ formData.address }}"
      name="address"
      required
    />
  </label>
  <label for="zipcode">
    Zipcode:
    <input
      type="text"
      ngModel="{{ formData.zipcode }}"
      name="zipcode"
      required
      minlength="5"
    />
  </label>
  <label for="state">
    State:
    <input type="text" ngModel="{{ formData.state }}" name="state" required />
  </label>
  <label for="country">
    Country:
    <select name="country" ngModel="{{ formData.country }}" required>
      <option [ngValue]="c.name" *ngFor="let c of country">
        {{ c.name }}
      </option>
    </select>
  </label>
  <label for="phone">
    Phone:
    <input
      type="text"
      ngModel="{{ formData.phone }}"
      name="phone"
      required
      minlength="10"
    />
  </label>
  <label for="email">
    Email:
    <input
      type="email"
      ngModel="{{ formData.email }}"
      name="email"
      required
      email
    />
  </label>
  <button type="submit" [disabled]="addressForm.invalid">Submit</button>
</form>
